{% extends "layout.html" %}
{% block title %}
Router Config Generator
{% endblock %}
{% block content %}
<div class="title">
<h1>Router Config Generator</h1>
{% if rtrVendor == 'Cisco' %}
<div class="cisco-router-config">
service tcp-keepalives-out <br/>
service timestamps debug datetime localtime show-timezone year <br/>
service timestamps log datetime localtime show-timezone year <br/>
service password-encryption <br/>
service sequence-numbers <br/>
! <br/>
hostname {{ rtrHostname }} <br/>
! <br/>
logging buffered 51200 informational <br/>
! <br/>
aaa new-model <br/>
! <br/>
aaa authentication login default local <br/>
aaa authorization console <br/>
aaa authorization exec default local <br/>
! <br/>
clock timezone {{ tzName }} {{ tzOffset }} <br/>
! <br/>
ipv6 unicast-routing <br/>
ipv6 cef <br/>
! <br/>
ipv6 inspect name FWv6 tcp <br/>
ipv6 inspect name FWv6 udp <br/>
ipv6 inspect name FWv6 icmp <br/>
! <br/>
ip domain name {{ dnsSuffix }} <br/>
ip name-server {{ dnsResolverPrimaryIPv4 }} <br/>
ip name-server {{ dnsResolverSecondaryIPv4 }} <br/>
ip name-server {{ dnsResolverPrimaryIPv6 }} <br/>
ip name-server {{ dnsResolverSecondaryIPv6 }} <br/>
! <br/>
{% if lanDhcpv4Server == True %}
ip dhcp pool LAN <br/>
network {{ ipv4NetworkAddress }} {{ ipv4SubnetMask }} <br/>
default-router {{ lanIPv4Address }} <br/>
dns-server {{ lanIPv4Address }} <br/>
lease 7 <br/>
{% endif %}
! <br/>
{% if lanDhcpv4Exclusions == True %}
ip dhcp excluded-address {{ lanDhcpv4ExcludedFirst }} {{ lanDhcpv4ExcludedLast }} <br/>
{% endif %}
! <br/>
ip inspect name FWv4 tcp router-traffic <br/>
ip inspect name FWv4 udp router-traffic <br/>
ip inspect name FWv4 icmp <br/>
! <br/>
archive <br/>
log config <br/>
logging enable <br/>
notify syslog contenttype plaintext <br/>
hidekeys <br/>
! <br/>
username {{ rtrAdminUsername }} privelege 15 secret 0 {{ rtrAdminPassword }} <br/>
! <br/>
no cdp run <br/>
! <br/>
no ip http server <br/>
no ip http secure-server <br/>
! <br/>
crypto key generate rsa modulus 2048 <br/>
! <br/>
ip access-list extended ACL-INFRASTRUCTURE-IN <br/>
10 deny ip 0.0.0.0 0.255.255.255 any <br/>
20 deny ip 10.0.0.0 0.255.255.255 any <br/>
30 deny ip 127.0.0.0 0.255.255.255 any <br/>
40 deny ip 169.254.0.0 0.0.255.255 any <br/>
50 deny ip 172.16.0.0 0.15.255.255 any <br/>
60 deny ip 192.168.0.0 0.0.255.255 any <br/>
70 deny ip 198.18.0.0 0.0.255.255 any <br/>
80 deny ip 224.0.0.0 31.255.255.255 any <br/>
90 deny tcp any any fragments <br/>
100 deny udp any any fragments <br/>
110 deny icmp any any fragments <br/>
120 permit icmp any any echo <br/>
130 permit icmp any any echo-reply <br/>
140 permit icmp any any time-exceeded <br/>
150 permit icmp any any unreachable <br/>
160 permit icmp any any packet-too-big <br/>
300 deny ip any any log <br/>
! <br/>
ipv6 access-list ACL6-INFRASTRUCTURE-IN <br/>
sequence 10 permit icmp any any  <br/>
sequence 300 deny ipv6 any any <br/>
! <br/>
line con 0 <br/>
exec-timeout 30 0  <br/>
no modem enable  <br/>
line aux 0  <br/>
exec-timeout 0 1  <br/>
no exec <br/>
transport output none <br/>
line vty 0 4 <br/>
access-class MGMT-IN in <br/>
exec-timeout 30 0 <br/>
logging synchronous <br/>
transport input ssh <br/>
! <br/>
ntp server 202.89.184.139 <br/>
ntp server 203.206.171.84 <br/>
ntp server 220.233.200.157 <br/>
! <br/>
ip access-list extended MGMT-IN <br/>
permit tcp 192.168.0.0 0.0.255.255 any eq 22 <br/>
permit tcp 172.16.0.0 0.15.255.255 any eq 22 <br/>
permit tcp 10.0.0.0 0.255.255.255 any eq 22 <br/>
! <br/>
access-list 1 permit {{ ipv4NetworkAddress }} {{ ipv4HostMask }} <br/>
! <br/>

{% if wanAuthType == 'IPoE' and (wanTechnologyType == 'FTTP' or wanTechnologyType == 'HFC') %}

{% if rtrSeries == '880' or rtrSeries == '890' %}
interface vlan 50 <br/>
ip address dhcp <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ipv6 address dhcp <br/>
ipv6 address autoconfig default <br/>
ipv6 enable <br/>
no ipv6 redirects <br/>
ipv6 dhcp client pd IPv6-PD <br/>
ipv6 inspect FWv6 out <br/>
ipv6 traffic-filter ACL6-INFRASTRUCTURE-IN in <br/>
ipv6 virtual-reassembly in <br/>
! <br/>
interface FastEthernet0 <br/>
switchport mode access <br/>
switchport access vlan 50 <br/>  
! <br/>
interface vlan 1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
ipv6 enable <br/>
ipv6 address IPv6-PD ::1/64 <br/>
ipv6 nd ra dns server {{ dnsResolverPrimaryIPv6 }} <br/>
ipv6 nd ra dns server {{ dnsResolverSecondaryIPv6 }} <br/>
exit <br/>
! <br/>
ip nat inside source list 1 interface vlan 50 overload <br/>
! <br/>
ip access-list extended ACL-INFRASTRUCTURE-IN <br/>
170 permit udp any any eq bootpc <br/>
! <br/>
ipv6 access-list ACL6-INFRASTRUCTURE-IN <br/>
sequence 20 permit udp any any eq 546 <br/>

{% endif %}

{% if rtrSeries == '1100' %}
{% endif %}

{% if rtrSeries == '1900' or rtrSeries == '2900' %}
interface GigabitEthernet0/0 <br/>
ip address dhcp <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ipv6 address dhcp <br/>
ipv6 address autoconfig default <br/>
ipv6 enable <br/>
no ipv6 redirects <br/>
ipv6 dhcp client pd IPv6-PD <br/>
ipv6 inspect FWv6 out <br/>
ipv6 traffic-filter ACL6-INFRASTRUCTURE-IN in <br/>
ipv6 virtual-reassembly in <br/>
! <br/>
interface GigabitEthernet0/1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
ipv6 enable <br/>
ipv6 address IPv6-PD ::1/64 <br/>
ipv6 nd ra dns server {{ dnsResolverPrimaryIPv6 }} <br/>
ipv6 nd ra dns server {{ dnsResolverSecondaryIPv6 }} <br/>
exit <br/>
! <br/>
ip nat inside source list 1 interface GigabitEthernet0/0 overload <br/>
! <br/>
ip access-list extended ACL-INFRASTRUCTURE-IN <br/>
170 permit udp any any eq bootpc <br/>
! <br/>
ipv6 access-list ACL6-INFRASTRUCTURE-IN <br/>
sequence 20 permit udp any any eq 546 <br/>

{% endif %}

{% if rtrSeries == '4000' %}
{% endif %}
{% endif %}

{% if wanAuthType == 'IPoE' and (wanTechnologyType == 'FTTN' or wanTechnologyType == 'FTTC') %}

{% if rtrSeries == '880' or rtrSeries == '890' %}
interface ethernet0 <br/>
ip address dhcp <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
no cdp enable <br/>
ipv6 address dhcp <br/>
ipv6 address autoconfig default <br/>
ipv6 enable <br/>
no ipv6 redirects <br/>
ipv6 dhcp client pd IPv6-PD <br/>
ipv6 inspect FWv6 out <br/>
ipv6 traffic-filter ACL6-INFRASTRUCTURE-IN in <br/>
ipv6 virtual-reassembly in <br/>
! <br/>
interface vlan 1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
ipv6 enable <br/>
ipv6 address IPv6-PD ::1/64 <br/>
ipv6 nd ra dns server {{ dnsResolverPrimaryIPv6 }} <br/>
ipv6 nd ra dns server {{ dnsResolverSecondaryIPv6 }} <br/>
exit <br/>
! <br/>
ip nat inside source list 1 interface Ethernet0 overload <br/>
! <br/>
ip access-list extended ACL-INFRASTRUCTURE-IN <br/>
170 permit udp any any eq bootpc <br/>
! <br/>
ipv6 access-list ACL6-INFRASTRUCTURE-IN <br/>
sequence 20 permit udp any any eq 546 <br/>

{% endif %}

{% if rtrSeries == '1100' %}
{% endif %}

{% if rtrSeries == '1900' or rtrSeries == '2900' %}
interface Ethernet0/0/0 <br/>
ip address dhcp <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
no cdp enable <br/>
ipv6 address dhcp <br/>
ipv6 address autoconfig default <br/>
ipv6 enable <br/>
no ipv6 redirects <br/>
ipv6 dhcp client pd IPv6-PD <br/>
ipv6 inspect FWv6 out <br/>
ipv6 traffic-filter ACL6-INFRASTRUCTURE-IN in <br/>
ipv6 virtual-reassembly in <br/>
! <br/>
interface GigabitEthernet0/1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
ipv6 enable <br/>
ipv6 address IPv6-PD ::1/64 <br/>
ipv6 nd ra dns server {{ dnsResolverPrimaryIPv6 }} <br/>
ipv6 nd ra dns server {{ dnsResolverSecondaryIPv6 }} <br/>
exit <br/>
! <br/>
ip nat inside source list 1 interface Ethernet0/0/0 overload <br/>
! <br/>
ip access-list extended ACL-INFRASTRUCTURE-IN <br/>
175 permit udp any any eq bootpc <br/>
! <br/>
ipv6 access-list ACL6-INFRASTRUCTURE-IN <br/>
sequence 20 permit udp any any eq 546 <br/>

{% endif %}

{% if rtrSeries == '4000' %}
{% endif %}
{% endif %}


{% if wanAuthType == 'PPPoE' and (wanTechnologyType == 'FTTP' or wanTechnologyType == 'HFC') %}

{% if rtrSeries == '880' or rtrSeries == '890' %}
interface vlan 50 <br/>
pppoe enable group global <br/>
pppoe-client dial-pool-number 1 <br/>
! <br/>
interface dialer0 <br/>
ip address negotiated <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
encapsulation ppp <br/>
dialer pool 1 <br/>
ppp chap callin <br/>
ppp chap hostname router.isphostname <br/>
ppp chap password router.isppassword <br/>
no cdp enable <br/>
! <br/>
interface FastEthernet0 <br/>
switchport mode access <br/>
switchport access vlan 50  <br/>
! <br/>
interface vlan 1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
exit <br/>
! <br/>
ip route 0.0.0.0 0.0.0.0 dialer 0 <br/>
! <br/>
ip nat inside source list 1 interface dialer0 overload <br/>

{% endif %}

{% if rtrSeries == '1100' %}
{% endif %}

{% if rtrSeries == '1900' or rtrSeries == '2900' %}
interface GigabitEthernet0/0 <br/>
pppoe enable group global <br/>
pppoe-client dial-pool-number 1 <br/>
! <br/>
interface dialer0 <br/>
ip address negotiated <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
encapsulation ppp <br/>
dialer pool 1 <br/>
ppp chap callin <br/>
ppp chap hostname router.isphostname <br/>
ppp chap password router.isppassword <br/>
no cdp enable <br/>
! <br/>
interface GigabitEthernet0/1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
exit <br/>
! <br/>
ip route 0.0.0.0 0.0.0.0 dialer0 <br/>
! <br/>
ip nat inside source list 1 interface dialer0 overload <br/>

{% endif %}

{% if rtrSeries == '4000' %}
{% endif %}
{% endif %}

{% if wanAuthType == 'PPPoE' and (wanTechnologyType == 'FTTN' or wanTechnologyType == 'FTTC') %}

{% if rtrSeries == '880' or rtrSeries == '890' %}
interface ethernet0 <br/>
pppoe enable group global <br/>
pppoe-client dial-pool-number 1 <br/>
! <br/>
interface dialer0 <br/>
ip address negotiated <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
encapsulation ppp <br/>
dialer pool 1 <br/>
ppp chap callin <br/>
ppp chap hostname router.isphostname <br/>
ppp chap password router.isppassword <br/>
no cdp enable <br/>
! <br/>
interface vlan 1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
exit <br/>
! <br/>
ip route 0.0.0.0 0.0.0.0 dialer 0 <br/>
! <br/>
ip nat inside source list 1 interface dialer0 overload <br/>

{% endif %}

{% if rtrSeries == '1100' %}
{% endif %}

{% if rtrSeries == '1900' or rtrSeries == '2900' %}
interface ethernet 0/0/0 <br/>
pppoe enable group global <br/>
pppoe-client dial-pool-number 1 <br/>
! <br/>
interface dialer0 <br/>
ip address negotiated <br/>
ip access-group ACL-INFRASTRUCTURE-IN in <br/>
no ip redirects <br/>
no ip proxy-arp <br/>
ip nat outside <br/>
ip inspect FWv4 out <br/>
ip virtual-reassembly in <br/>
encapsulation ppp <br/>
dialer pool 1 <br/>
ppp chap callin <br/>
ppp chap hostname router.isphostname <br/>
ppp chap password router.isppassword <br/>
no cdp enable <br/>
! <br/>
interface GigabitEthernet0/1 <br/>
ip address {{ lanIPv4Address }} {{ ipv4SubnetMask }} <br/>
no ip proxy-arp <br/>
ip nat inside <br/>
ip virtual-reassembly in <br/>
ip tcp adjust-mss 1300 <br/>
exit <br/>
! <br/>
ip route 0.0.0.0 0.0.0.0 dialer 0 <br/>
! <br/>
ip nat inside source list 1 interface dialer0 overload <br/>

{% endif %}

{% if rtrSeries == '4000' %}
{% endif %}
{% endif %}

{% endif %}
</div>
  </div>
{% endblock %}