{% extends "layout.html" %}

{% block title %}
Router Config Generator
{% endblock %}

{% block body_attrs %} 
onload="clearForm()" 
{% endblock %}

{% block content %}
<script>
  function check_dhcpv4_exclusions()
  {
    var checked = document.getElementById('lan_dhcpv4_exclusions').checked
    if (checked)
    {
      document.getElementById('lan_dhcpv4_excluded_first').style.display = "flex"
      document.getElementById('lan_dhcpv4_excluded_last').style.display = "flex"
    }
    else {
      document.getElementById('lan_dhcpv4_excluded_first').style.display = "none"
      document.getElementById('lan_dhcpv4_excluded_last').style.display = "none"
    }
  }
</script>
<script>
  function ClearForm() 
  {
  document.forms.ConfigForm.reset();
  }
</script>
<div class="title">
<h1>Router Config Generator</h1>
</div>
<div class="form-wrapper">
    <form method="POST" action="{{ url_for('home') }}" id="ConfigForm">
      {{ form.hidden_tag() }}

        <fieldset class="form-field">
            {{ form.rtr_hostname.label }}
            {{ form.rtr_hostname }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dns_suffix.label }}
            {{ form.dns_suffix }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.tz_name.label }}
            {{ form.tz_name }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.tz_offset.label }}
            {{ form.tz_offset }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dns_resolver_primary_ipv4.label }}
            {{ form.dns_resolver_primary_ipv4 }}
            {% if form.dns_resolver_primary_ipv4.errors %}
            <ul class="errors">
              {% for error in form.dns_resolver_primary_ipv4.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dns_resolver_secondary_ipv4.label }}
            {{ form.dns_resolver_secondary_ipv4 }}
            {% if form.dns_resolver_secondary_ipv4.errors %}
            <ul class="errors">
              {% for error in form.dns_resolver_secondary_ipv4.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dns_resolver_primary_ipv6.label }}
            {{ form.dns_resolver_primary_ipv6 }}
            {% if form.dns_resolver_primary_ipv6.errors %}
            <ul class="errors">
              {% for error in form.dns_resolver_primary_ipv6.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dns_resolver_secondary_ipv6.label }}
            {{ form.dns_resolver_secondary_ipv6 }}
            {% if form.dns_resolver_secondary_ipv6.errors %}
            <ul class="errors">
              {% for error in form.dns_resolver_secondary_ipv6.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>


        <fieldset class="form-field">
            {{ form.rtr_admin_username.label }}
            {{ form.rtr_admin_username }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtr_admin_password.label }}
            {{ form.rtr_admin_password }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.lan_ipv4_address.label }}
            {{ form.lan_ipv4_address }}
            {% if form.lan_ipv4_address.errors %}
            <ul class="errors">
              {% for error in form.lan_ipv4_address.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.lan_ipv4_cidr_prefix_size.label }}
            {{ form.lan_ipv4_cidr_prefix_size }}
        </fieldset>

        <fieldset class="form-field">
          {{ form.lan_dhcpv4_server.label }}
          {{ form.lan_dhcpv4_server }}
        </fieldset>

        <fieldset class="form-field">
          {{ form.lan_dhcpv4_exclusions.label }}
          {{ form.lan_dhcpv4_exclusions(onclick="check_dhcpv4_exclusions()") }}
        </fieldset>

        <fieldset class="form-field" id="lan_dhcpv4_excluded_first" style="display: none">
          {{ form.lan_dhcpv4_excluded_first.label }}
          {{ form.lan_dhcpv4_excluded_first }}
          {% if form.lan_dhcpv4_excluded_first.errors %}
          <ul class="errors">
            {% for error in form.lan_dhcpv4_excluded_first.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field" id="lan_dhcpv4_excluded_last" style="display: none">
          {{ form.lan_dhcpv4_excluded_last.label }}
          {{ form.lan_dhcpv4_excluded_last }}
          {% if form.lan_dhcpv4_excluded_last.errors %}
          <ul class="errors">
            {% for error in form.lan_dhcpv4_excluded_last.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.wan_technology_type.label }}
            {{ form.wan_technology_type }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.wan_auth_type.label }}
            {{ form.wan_auth_type }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtr_vendor.label }}
            {{ form.rtr_vendor }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtr_series.label }}
            {{ form.rtr_series }}
        </fieldset>

        {{ form.generate }}
        
    </form>
  </div>
{% endblock %}
