{% extends "layout.html" %}

{% block title %}
Router Config Generator
{% endblock %}

{% block body_attrs %} 
onload="clearForm()" 
{% endblock %}

{% block content %}
<script>
  function checkDhcpv4Exclusions()
  {
    var checked = document.getElementById('lanDhcpv4Exclusions').checked
    if (checked)
    {
      document.getElementById('lanDhcpv4ExcludedFirst').style.display = "flex"
      document.getElementById('lanDhcpv4ExcludedLast').style.display = "flex"
    }
    else {
      document.getElementById('lanDhcpv4ExcludedFirst').style.display = "none"
      document.getElementById('lanDhcpv4ExcludedLast').style.display = "none"
    }
  }
</script>
<script>
  function clearForm() 
  {
  document.forms.configForm.reset();
  }
</script>
<div class="title">
<h1>Router Config Generator</h1>
</div>
<div class="form-wrapper">
    <form method="POST" action="{{ url_for('home') }}" id="configForm">
      {{ form.hidden_tag() }}

        <fieldset class="form-field">
            {{ form.rtrHostname.label }}
            {{ form.rtrHostname }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dnsSuffix.label }}
            {{ form.dnsSuffix }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.tzName.label }}
            {{ form.tzName }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.tzOffset.label }}
            {{ form.tzOffset }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dnsResolverPrimaryIPv4.label }}
            {{ form.dnsResolverPrimaryIPv4 }}
            {% if form.dnsResolverPrimaryIPv4.errors %}
            <ul class="errors">
              {% for error in form.dnsResolverPrimaryIPv4.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dnsResolverSecondaryIPv4.label }}
            {{ form.dnsResolverSecondaryIPv4 }}
            {% if form.dnsResolverSecondaryIPv4.errors %}
            <ul class="errors">
              {% for error in form.dnsResolverSecondaryIPv4.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dnsResolverPrimaryIPv6.label }}
            {{ form.dnsResolverPrimaryIPv6 }}
            {% if form.dnsResolverPrimaryIPv6.errors %}
            <ul class="errors">
              {% for error in form.dnsResolverPrimaryIPv6.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.dnsResolverSecondaryIPv6.label }}
            {{ form.dnsResolverSecondaryIPv6 }}
            {% if form.dnsResolverSecondaryIPv6.errors %}
            <ul class="errors">
              {% for error in form.dnsResolverSecondaryIPv6.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>


        <fieldset class="form-field">
            {{ form.rtrAdminUsername.label }}
            {{ form.rtrAdminUsername }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtrAdminPassword.label }}
            {{ form.rtrAdminPassword }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.lanIPv4Address.label }}
            {{ form.lanIPv4Address }}
            {% if form.lanIPv4Address.errors %}
            <ul class="errors">
              {% for error in form.lanIPv4Address.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.lanIPv4CidrPrefixSize.label }}
            {{ form.lanIPv4CidrPrefixSize }}
        </fieldset>

        <fieldset class="form-field">
          {{ form.lanDhcpv4Server.label }}
          {{ form.lanDhcpv4Server }}
        </fieldset>

        <fieldset class="form-field">
          {{ form.lanDhcpv4Exclusions.label }}
          {{ form.lanDhcpv4Exclusions(onclick="checkDhcpv4Exclusions()") }}
        </fieldset>

        <fieldset class="form-field" id="lanDhcpv4ExcludedFirst" style="display: none">
          {{ form.lanDhcpv4ExcludedFirst.label }}
          {{ form.lanDhcpv4ExcludedFirst }}
        </fieldset>

        <fieldset class="form-field" id="lanDhcpv4ExcludedLast" style="display: none">
          {{ form.lanIPv4DhcpExcludedLast.label }}
          {{ form.lanIPv4DhcpExcludedLast }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.wanTechnologyType.label }}
            {{ form.wanTechnologyType }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.wanAuthType.label }}
            {{ form.wanAuthType }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtrVendor.label }}
            {{ form.rtrVendor }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.rtrSeries.label }}
            {{ form.rtrSeries }}
        </fieldset>

        {{ form.generate }}
        
    </form>
  </div>
{% endblock %}