{% extends "layout.html" %}

{% block title %}
Router Config Generator
{% endblock %}

{% block body_attrs %} 
onload="clearForm()" 
{% endblock %}

{% block content %}
<script>
  function check_dhcpv4_exclusions()
  {
    var checked = document.getElementById('lan_dhcpv4_exclusions').checked
    if (checked)
    {
      document.getElementById('lan_dhcpv4_excluded_first_label').removeAttribute("style")
      document.getElementById('lan_dhcpv4_excluded_first_input').removeAttribute("style")
      document.getElementById('lan_dhcpv4_excluded_last_label').removeAttribute("style")
      document.getElementById('lan_dhcpv4_excluded_last_input').removeAttribute("style")
    }
    else {
      document.getElementById('lan_dhcpv4_excluded_first_label').style.display = "none"
      document.getElementById('lan_dhcpv4_excluded_first_input').style.display = "none"
      document.getElementById('lan_dhcpv4_excluded_last_label').style.display = "none"
      document.getElementById('lan_dhcpv4_excluded_last_input').style.display = "none"
    }
  }
  
  window.onload = function() {
  	check_dhcpv4_exclusions();
  }
</script>
<script>
  function ClearForm() 
  {
  document.forms.ConfigForm.reset();
  }
</script>
<div class="flex justify-center h-[calc(100vh-3.5rem)]">
  <form method="POST" action="{{ url_for('home') }}" class="flex justify-center items-center flex-wrap pt-2 bg-white w-3/4 rounded-md">
    {{ form.hidden_tag() }}
    <div class="basis-1/4 pb-4">
      {{ form.rtr_hostname.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_hostname(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_suffix.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_suffix(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.tz_name.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.tz_name(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.tz_offset.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.tz_offset(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_primary_ipv4.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_primary_ipv4(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.dns_resolver_primary_ipv4.errors %}
      <ul class="text-red-500">
        {% for error in form.dns_resolver_primary_ipv4.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_secondary_ipv4.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_secondary_ipv4(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.dns_resolver_secondary_ipv4.errors %}
      <ul class="text-red-500">
        {% for error in form.dns_resolver_secondary_ipv4.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_primary_ipv6.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_primary_ipv6(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.dns_resolver_primary_ipv6.errors %}
      <ul class="text-red-500">
        {% for error in form.dns_resolver_primary_ipv6.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_secondary_ipv6.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.dns_resolver_secondary_ipv6(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.dns_resolver_secondary_ipv6.errors %}
      <ul class="text-red-500">
        {% for error in form.dns_resolver_secondary_ipv6.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_admin_username.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_admin_username(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_admin_password.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_admin_password(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_ipv4_address.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_ipv4_address(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.lan_ipv4_address.errors %}
      <ul class="text-red-500">
        {% for error in form.lan_ipv4_address.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_ipv4_cidr_prefix_size.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_ipv4_cidr_prefix_size(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_dhcpv4_server.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_dhcpv4_server }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_dhcpv4_exclusions.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.lan_dhcpv4_exclusions(onclick="check_dhcpv4_exclusions()") }}
    </div>
    <div class="basis-1/4 pb-4" id="lan_dhcpv4_excluded_first_label" style="display: none">
      {{ form.lan_dhcpv4_excluded_first.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4" id="lan_dhcpv4_excluded_first_input" style="display: none">
      {{ form.lan_dhcpv4_excluded_first(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.lan_dhcpv4_excluded_first.errors %}
      <ul class="text-red-500">
        {% for error in form.lan_dhcpv4_excluded_first.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4" id="lan_dhcpv4_excluded_last_label" style="display: none">
      {{ form.lan_dhcpv4_excluded_last.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4" id="lan_dhcpv4_excluded_last_input" style="display: none">
      {{ form.lan_dhcpv4_excluded_last(class="bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-black") }}
      {% if form.lan_dhcpv4_excluded_last.errors %}
      <ul class="text-red-500">
        {% for error in form.lan_dhcpv4_excluded_last.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.wan_technology_type.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.wan_technology_type(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.wan_auth_type.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.wan_auth_type(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_vendor.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_vendor(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_series.label(class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4") }}
    </div>
    <div class="basis-1/4 pb-4">
      {{ form.rtr_series(class="bg-white border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black") }}
    </div>
    {{ form.generate(class="bg-blue-500 hover:bg-blue-900 focus:outline-none rounded-md px-4 py-2 text-white duration-200 font-semibold") }}
  </form>
</div>
{% endblock %}
